.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-header {
  width: 1200px;
  height: 430px;
  margin-bottom: 50px;
}

.App-footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.DatetimeInputHolder {
  width: 500px;
  min-height: 56px;
}

.CounterHolder {
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.CounterDigit {
  width: 180px;
  font-size: 100px;
  display: flex;
  flex-direction: column;
}

.CounterLabel {
  font-size: 20px;
}
.CompleteMessage{
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face{
  font-family:'digital-clock-font';
  src: url("./digital-7.ttf");
  letter-spacing: 10px;
 }